/* MESSAGES - _messages.scss */
.messages {
  /* Firefox fix */
  float: left;
  clear: both;
  width: 100%;
  /* End Firefox fix */
  list-style-type: none;
  padding-left: 0;
  ul {
    margin: 0;
  }
  li {
    @include clearfix();
    a,
    a:visited {
      text-decoration: underline;
      color: $white;
    }
    a:active,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  .note-msg,
  li li {
    list-style-type: none;
    color: $white;
    @include panel();
    @include border-radius($global-radius);
    &:before {
      display: none;
    }
  }
  li {
    &.success-msg li {
      background: $success-color;
      color: $white;
    }
    &.error-msg li {
      background: $alert-color;
    }
    &.notice-msg li {
      background: $gray;
    }
  }
}
