/* TOP LINE - _top-line.scss */
.top-line {
  line-height: $base-font-size * 2.5;
  background-color: $primary-color;  
  a:visited,
  a {
    color: $white;
  }
  ul {
    margin-bottom: 0;
    float: right;
    line-height: $base-font-size * 2.5;
    li {
      list-style-type: none;
      display: list-item;
      @media #{$medium-up} {
        display: inline-block;
      }
      a {
        padding-left: $base-font-size;
      }
    }
  }
}
.top-line .welcome-msg {
  display: none;
  color: $white;
  float: left;
  @media #{$medium-up} {
    display: inline-block;
  }
}
.top-line {
  .links,
  #search_mini_form_mobile,
  #search_mini_form {
    position: absolute;
    top: $base-font-size * 2.5;
    width: 100%;
    left: 0;
    padding: $base-font-size 110px 0 $base-font-size;
    background-color: $almost-white;
    z-index: 100;
    button {
      position: absolute;
      right: $base-font-size;
      top: $base-font-size;
    }
  }
}
.top-line .search-icon {
  position: absolute;
  left: 50%;
  margin-left: -$base-font-size;
  text-indent: -9999px;
  overflow: hidden;
  width: $base-font-size * 2;
  height: 100%;
  font-size: $base-font-size * 1.5;
  line-height: $base-font-size * 3;    
  color: $white;
  &:before {
    text-indent: 0;
    position: absolute;
    left: 1px;
    top: 0;
    content: "\f002";
    font-family: "polar-icons";
  }
}
.top-line .links {
  margin-top: 0;
  padding-bottom: $base-font-size;
  display: none;
  @media #{$medium-up} {
    display: block;
  }
  li {
    float: none;
  }
}
.move-right .top-line .burger-icon {
  background-color: darken($primary-color, 10%);  
}
.top-line .burger-icon {
  font-size: $base-font-size * 1;
  line-height: $base-font-size * 3;    
  padding: 0 $column-gutter / 2;
  float: left;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: darken($primary-color, 10%);
  }
  &:before {
    text-indent: 0;
    font-size: $base-font-size * 1.5;
    margin-left: $column-gutter / 2;
    display: inline-block;
    vertical-align: middle;
    margin: -4px $column-gutter / 2 0 0;
    content: "\f0c9"; /* Menu icon (burger lines) */
    font-family: "polar-icons";
  }
}
.top-line .top-line-section {
  position: static;
  padding: 0;
  @media #{$medium-up} {
    padding: 0 $column-gutter / 2;
  }
}
@media #{$medium-up} {
  .top-line {
    #search_mini_form {
      display: none;
    }
    .links {
      position: relative;
      top: auto;
      width: auto;
      left: auto;
      padding: 0;
      background-color: transparent;
      z-index: auto;
    }
  }
}
