/* TYPOGRAPHY - _typography.scss */
*:not(.box-collateral),
*:not(.std) {
  & h1,
  & h2 {
    font-size: $h3-font-size;
  }
}

/* Line-height in .std areas */
.short-description .std,
.product-collateral .std {
  line-height: $paragraph-line-height;
}

/* Anchor links */
a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
