/* OFF CANVAS SEARCH - _off-canvas-search.scss */

/* Just some style in case you want to move the search to the off canvas area */

.off-canvas-wrap #search_mini_form_mobile {
  position: relative;
  width: 100%;
  padding: $column-gutter / 2;
  margin: 0;
  input {
    margin: 0;
  }
  button {
    position: absolute;
    right: $column-gutter / 2;
    top: 0.5em;
    margin: 0;
  }
}
